{{ define "main" }}

<link rel="stylesheet" href="/css/bio-pages.css">
<script src="{{ "/js/spinner.js" | relURL }}" defer></script>

{{/* Pull data from the current language */}}
{{- $personName := .Params.name | default .Site.Language.Params.name | default .Site.Title -}}
{{- $descr := .Params.description | default .Site.Language.Params.description | default .Site.Language.Params.Description | default .Site.Params.description | default "" -}}
{{- $jobTitle := .Params.jobTitle | default .Site.Language.Params.jobTitle | default "Artist and Theorist" -}}
{{- $alternateName := .Site.Language.Params.alternateNames | default .Site.Params.alternateNames -}}
{{- $profileImage := .Params.profile_image | default .Site.Language.Params.profileImage | default .Site.Params.profileImage -}}

{{/* Build sameAs from socials + params_sameas_other, excluding mailto */}}
{{- $sameAs := slice -}}

{{- with .Site.Params.social.instagram -}}
  {{- if not (hasPrefix . "mailto:") -}}
    {{- $sameAs = $sameAs | append . -}}
  {{- end -}}
{{- end -}}

{{- with .Site.Params.social.facebook -}}
  {{- if not (hasPrefix . "mailto:") -}}
    {{- $sameAs = $sameAs | append . -}}
  {{- end -}}
{{- end -}}

{{- with .Site.Params.social.youtube -}}
  {{- if not (hasPrefix . "mailto:") -}}
    {{- $sameAs = $sameAs | append . -}}
  {{- end -}}
{{- end -}}

{{- with .Site.Params.params_sameas_other -}}
  {{- range . -}}
    {{- if not (hasPrefix . "mailto:") -}}
      {{- $sameAs = $sameAs | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Person entity */}}
{{- $person := dict
  "@type" "Person"
  "@id" (printf "%s#person" .Permalink)
  "name" $personName
  "jobTitle" $jobTitle
  "nationality" "Bulgarian"
  "url" .Permalink
  "knowsLanguage" (slice "bg-BG" "en")
-}}

{{- with $alternateName -}}
  {{- $person = merge $person (dict "alternateName" .) -}}
{{- end -}}

{{- with $profileImage -}}
  {{- $person = merge $person (dict "image" (. | absURL)) -}}
{{- end -}}

{{- if gt (len $sameAs) 0 -}}
  {{- $person = merge $person (dict "sameAs" $sameAs) -}}
{{- end -}}

{{/* ProfilePage entity */}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "ProfilePage"
  "@id" (printf "%s#profilepage" .Permalink)
  "url" .Permalink
  "name" .Title
  "description" $descr
  "inLanguage" (.Site.Language.Lang | default "en")
  "mainEntity" $person
-}}

{{- with .Date -}}
  {{- $schema = merge $schema (dict "dateCreated" (.Format "2006-01-02")) -}}
{{- end -}}

{{- with .Lastmod -}}
  {{- $schema = merge $schema (dict "dateModified" (.Format "2006-01-02")) -}}
{{- end -}}

{{- with $profileImage -}}
  {{- $schema = merge $schema (dict "primaryImageOfPage" (dict "@type" "ImageObject" "url" (. | absURL))) -}}
{{- end -}}

<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>

<div class="biolist">
  <h1 class="page-heading">{{ .Title }}</h1>

  <div class="eye" aria-hidden="true">
    <img class="eye-base" src="/images/i_see_you_O.png" alt="">
    <img class="eye-pupil" src="/images/i_see_you_I.png" alt="">
  </div>

  <section class="about-meta container--press">
    <ul class="press-list" role="list">
      {{ with .Site.Params.social.instagram }}
        <li class="press-item"><h3 class="press-titleline">
          <a class="press-link" href="{{ . | safeURL }}" target="_blank" rel="me noopener nofollow">Instagram</a>
        </h3></li>
      {{ end }}

      {{ with .Site.Params.social.email }}
        <li class="press-item"><h3 class="press-titleline">
          <a class="press-link" href="{{ . | safeURL }}">Email</a>
        </h3></li>
      {{ end }}

      {{ with .Site.Params.social.facebook }}
        <li class="press-item"><h3 class="press-titleline">
          <a class="press-link" href="{{ . | safeURL }}" target="_blank" rel="me noopener nofollow">Facebook</a>
        </h3></li>
      {{ end }}

      {{ with .Site.Params.social.youtube }}
        <li class="press-item"><h3 class="press-titleline">
          <a class="press-link" href="{{ . | safeURL }}" target="_blank" rel="noopener nofollow">YouTube</a>
        </h3></li>
      {{ end }}

      {{ with (index .Site.Params.documents.cv_pdf .Site.Language.Lang) }}
        <li class="press-item"><h3 class="press-titleline">
          <a class="press-link" href="{{ . | absURL | safeURL }}" target="_blank" rel="noopener nofollow">curriculum vitae</a>
        </h3></li>
      {{ end }}

      {{ with (index .Site.Params.documents.portfolio_pdf .Site.Language.Lang) }}
        <li class="press-item"><h3 class="press-titleline">
          <a class="press-link" href="{{ . | absURL | safeURL }}" target="_blank" rel="noopener nofollow">{{ T "portfolio" | default "Portfolio" }}</a>
        </h3></li>
      {{ end }}
    </ul>
  </section>

  <div class="about-body">
    <div class="about-text">{{ .Content }}</div>
  </div>
</div>

{{ end }}