<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Call CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="{{ "/css/nav.css" | relURL }}">
    <link rel="icon" href="/favicon.gif" type="image/gif">
 
    <script src="/js/xlinks.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/spotlight.min.css">
    
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta name="robots" content="index, follow">
</head>
