<!-- META TAGS -->
<meta property="og:type" content="website" />

<!-- Lang -->
<meta
  name="language"
  content="{{ .Site.Language.LanguageCode | default .Site.Language.Lang }}"
>

{{- $xDefault := .Permalink -}}
{{- range .AllTranslations }}
<link
  rel="alternate"
  hreflang="{{ .Language.LanguageCode | default .Language.Lang }}"
  href="{{ .Permalink }}"
>
{{- if eq .Language.Lang "en" }}
  {{- $xDefault = .Permalink -}}
{{- end }}
{{- end }}
<link rel="alternate" hreflang="x-default" href="{{ $xDefault }}">
<!-- Title -->
<title itemprop="name">
  {{ if .IsHome }}
    {{ .Site.Title }} | {{ i18n "artistPortfolio" }}
  {{ else }}
    {{ .Title }} | {{ .Site.Title }}
  {{ end }}
</title>

<meta property="og:title" content='{{ if .IsHome }}{{ i18n "artistPortfolio" }} | {{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}' />
<meta name="twitter:title" content='{{ if .IsHome }}{{ i18n "artistPortfolio" }} | {{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}' />

<meta property="og:logo" content="{{ "/favicon.gif" | absURL }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Description -->
{{- $description := .Params.description | default .Site.Language.Params.Description | default .Site.Params.description -}}
<meta name="description" content="{{ $description }}" />
<meta itemprop="description" content="{{ $description }}" />
<meta property="og:description" content="{{ $description }}" />
<meta name="twitter:description" content="{{ $description }}" />

<!-- Region -->
<meta name="geo.region" content="BG-SOF">

<!-- Images -->
{{ with .Page.Resources.GetMatch "hero.webp" }}
  <meta itemprop="image" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Permalink }}" />
  <meta name="twitter:image" content="{{ .Permalink }}" />
  <meta name="twitter:image:src" content="{{ .Permalink }}" />
  <meta property="og:image:width" content="{{ .Width }}" />
  <meta property="og:image:height" content="{{ .Height }}" />
  <meta property="og:image:alt" content="{{ $.Params.heroAlt | default $.Title }}" />
  <meta name="twitter:image:alt" content="{{ $.Params.heroAlt | default $.Title }}" />
{{ else }}
  {{- $fallbackImage := "/images/alt-hero.webp" | absURL -}}
  <meta itemprop="image" content="{{ $fallbackImage }}" />
  <meta property="og:image" content="{{ $fallbackImage }}" />
  <meta name="twitter:image" content="{{ $fallbackImage }}" />
  <meta name="twitter:image:src" content="{{ $fallbackImage }}" />
{{ end }}

<!-- Crawler Validations -->
<meta name="facebook-domain-verification" content="e32nq2r1prpftlqhvybiq5z9k3upia" />
<meta name="yandex-verification" content="0953af09684196b5" />
