{{ define "main" }}

{{/* Language-aware values */}}
{{- $lang := .Site.Language.Lang | default "en" -}}
{{- $siteTitle := .Site.Title -}}
{{- $description := .Site.Language.Params.description | default .Site.Language.Params.Description | default .Site.Params.description | default "" -}}
{{- $profileImage := .Site.Language.Params.profileImage | default .Site.Params.profileImage -}}

{{/* Person entity */}}
{{- $person := partial "person-schema.html" . -}}

{{/* WebSite entity */}}
{{- $website := dict
  "@type" "WebSite"
  "@id" (printf "%s#website" ("/" | absLangURL))
  "name" $siteTitle
  "url" ("/" | absLangURL)
  "publisher" $person
-}}

{{/* Landing page entity */}}
{{- $page := dict
  "@context" "https://schema.org"
  "@type" "WebPage"
  "@id" (printf "%s#webpage" .Permalink)
  "url" .Permalink
  "name" (cond (eq $lang "bg") (printf "%s — визуален артист и философ" $siteTitle) (printf "%s — visual artist and philosopher" $siteTitle))
  "description" $description
  "inLanguage" $lang
  "isPartOf" $website
  "about" $person
  "mainEntity" $person
-}}

{{- with $profileImage -}}
  {{- $page = merge $page (dict "primaryImageOfPage" (dict "@type" "ImageObject" "url" (. | absURL))) -}}
{{- end -}}

<script type="application/ld+json">
{{ $page | jsonify | safeJS }}
</script>

<div class="video-container"></div>
<script src="{{ "/js/lander.js" | relURL }}"></script>

{{ end }}
